* { /* universal selector */
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h1 em, h2 em {    /* type selector; heading 1, heading 2, italicized headings */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {    /* type selector; heading 1 */
    background-color: darkred;
    text-align: center;
    color: white;
}

.recipe {   /* class selector; heading 1 */
    background-color: darkblue;
}

a { /* type selector; links */
    color: darkred;
    font-weight: bold;
    font-size: 18px;
}

h2 {    /* type selector; heading 2 */
    color: darkblue;
}

.linked {   /* class selector; paragraphs in main page*/
    text-align: center;
}

.ingredients, .imp {    /* class selector: unorganized ingredients list, imp text */
    color: darkred;
}

.imp { /* class selector: imp text */
    font-weight: 400;
}